body{
  background-color: honeydew;
}

header{
  background-color: darkgrey;
  padding: 5px;
  text-align: center;
  color: white;
}

/* Set a style for all buttons */
button {
    background-color: #1abc9c;
    color: white;
    padding: 5px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

nav {
  padding: 10px;
  background: #ccc;
}

section:after{
	content: "";
	display: table;
	clear: both;
}

ul {
  list-style-type: none;
}

table{
	width: 100%;
	text-align: center;
}
.day {
  padding-bottom: 30px;

}

button:hover{
	opacity: 0.6;
	color: black;
}

/* Month header */
.month {
    padding: 20px 25px;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 30px;
    padding-right: 100px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 30px;
    padding-left: 100px;
}

form{
  float: right;
}

form.adminform{
  visibility: hidden;
}

li.schedules{
  padding-right: 20px;
}
.login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* login window */
.login-content {
    background-color: white;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
